<nav {{ attributes }}>
  <ul class="m-main-menu__list m-main-menu__list--1-level">
    {% for item1 in items %}
      <li class="m-main-menu__item m-main-menu__item--1-level{% if item1.items %} m-main-menu__item--has-menu{% endif %}">
        {{ item1.link }}
        <div class="m-main-menu__delimiter"></div>
        {% if item1.items %}
          <div class="m-main-menu__sub-section">
            <div class="m-main-menu__selected-item">
              {{ item1.previousLink }}
            </div>
            <ul class="m-main-menu__list m-main-menu__list--2-level">
              {% for item2 in item1.items %}
                <li
                  class="m-main-menu__item m-main-menu__item--2-level{% if item2.items %} m-main-menu__item--has-menu{% endif %}">
                  {{ item2.link }}
                  {% if item2.items %}
                    <ul class="m-main-menu__list m-main-menu__list--3-level">
                      {% for item3 in item2.items %}
                        <li
                          class="m-main-menu__item m-main-menu__item--3-level{% if item3.items %} m-main-menu__item--has-menu{% endif %}">
                          {{ item3.link }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
